body{
	min-width: 860px;
	font-size: 18px;
	line-height: 1.2;
	color: #323232;
	font-weight: normal;
	font-family: Roboto, sans-serif;
	
	background-color:#849d8f;
	margin: 0px;
	padding: 0px;
}

img {
 	max-width: 100%;
  	height: auto;
}


*{
	outline:1px solid red;
}
.clearfix::after{
	content:"";
	display: table;
	clear:both;
}
h1{
	margin: 0px;
	font-size: 35px;
	line-height: ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
h2{
	font-size: 60px;
	line-height:60px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}

h3{
	margin: 0px;
	padding: 0px;
	font-size: 35px;
	line-height:41px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}

.btn{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	color: #FFF;
	text-decoration: none;
	text-shadow:0px 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom #f26843 0%, #e74a35 100%);
	border-radius:100px;
	-webkit-box-shadow: 0.2px 2px rgba(172, 16, 0, 0.64);
	        box-shadow: 0.2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover{
	background: -moz-linear-gradient(top,#f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top,#f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom,#f58669 0%, #ec6f5e 100%);
	box-shadow:0 2px 2px rgda(172, 16, 0, 1);
}
.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*---------и к слайдеру--------*/
body input[type="radio"]{
	display:none;
}

.site-wrapper{
	min-width: 900px;
	background-color: #849d8f;
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after{
	content:"";
	visibility: hidden;
}
.site-wrapper::before,
.site-wrapper::after{
	background-image:url("../img/slide2.png")
}
.site-wrapper::before,
.site-wrapper::after{
	background-image:url("../img/slide1.png")
}
/*----конец вставки к слайдеру--------*/
.content-wrapper{
	position: relative;
	width: 860px;
	
	margin: 0 auto;
	padding: 0 2.2%;
}
/*  ------------header begin------*/
  .main-header{
  	min-height: 70px;
}
.logo{
	float: left;
	margin: 8px 0px 0px -8px;
}
/*---main-menu begin-------------*/


.main-menu{
	width: 400px;
	float: left;
	padding: 0;
	margin: 0;
	list-style:none;
	padding-left: 0px;
	margin-left: 20px;
	
	
}

.main-menu>li{
	position: relative;
	display: inline-block;
	margin:23px 4px 18px 0px;
	cursor: pointer;
}
.main-menu>li>a{
	display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.menu-mouse:hover .wrapper-menu{
	display:block;
} 
.wrapper-menu{
	position: absolute;
	top:30px;
	right: 0px;
	width: 143px;
	height: 53px;
	
}
.main-menu>li>a:hover{
	color: #333333;
	text-decoration: none;
	border-radius: 50px;
    background:#fff;
}
.main-menu>li>a:active{
	color: #333333;
	text-decoration: none;
	border-radius: 50px;
	background:#fff;
    box-shadow:inset 0 2px 0px 1px #696969;
    
}

.main-menu .menu-mouse:hover .catalog-menu{
	display:block;
}





    
 .catalog-menu{
 	display:none;
    position: absolute;
    top:5px;
    left: 0px;
	width: 142px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
   	background: #fff;
    z-index:1000;
}
.catalog-menu li {
    margin: 0;
}
.catalog-menu>li a:first-child{
	
	padding: 10px 18px !important;
	margin: 0;
}

.catalog-menu li:first-child a{
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
    color: #323232;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.catalog-menu li:last-child{
	margin: 0;
}

.catalog-menu a {
	display: block;
	text-decoration: none;
	margin-bottom: -1px;
    padding:10px 9px 20px !important;
    
    color: #333333;
    font-size: 14px;
    font-weight: normal;
	font-family: Roboto, sans-serif;
	
}
.catalog-menu>li a:first-child:active{
	color: #fbded7;
}
.catalog-menu:hover{
	display: block;
}
.catalog-menu a:hover {
	color: #323232;
    background: #fbded7;
} 
.catalog-menu a:active {
	color: #323232 !important;
    background: #f6b5a5;
}       
    




/*---main-menu end------------*/


/*---header-right begin--------------*/
.header-right{
	position: relative;
	min-width: 270px;
	float: right;
	margin: 21px 0;
	
}
.block-right{
	margin: 0;
    padding: 0;
    list-style: none;
    
}
.block-right>li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
	font-size: 0px;
	cursor: pointer;
}
.block-right li:last-child{
	margin-right: 0;
}
.block-right>li>a{
	
	text-decoration: none;
	font-size: 14px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	
} 
.wrapper-find{
	position: absolute;
	top:30px;
	right: 0px;
	width: 312px;
	height: 53px;
	
} 
.wrapper-find:hover{
	display:block;
}  
	

.find{
	min-width: 18px;
	min-height: 18px;
	padding: 6px;
	border-radius:50px;
	background-color:#aac1b5;
}
.find a{
	display: inline-block;
	vertical-align: top;
	
}
.find:hover{
	
	background:#f8f7f4;
}
.find:hover::before{
	content:"";
	position: absolute;
	left:8px;
	bottom:3px;
	width: 23px;
	height:23px;
	background:url("../img/lupa.png") no-repeat 0 0;

}
.wrapper-enter{
	position: absolute;
	top:30px;
	right: 0px;
	width: 300px;
	height: 59px;
}
.wrapper-enter:hover{
	display:block;
}
.wrapper-cart{
	position: absolute;
	top:30px;
	right: 0px;
	width: 539px;
	height: 53px;
}
.enter{
	padding: 6px 16px 7px 45px;
	border-radius:50px;
	background-color:#aac1b5;
}
.cart{
	padding: 6px 30px 6px 45px;
	border-radius:50px;
	background-color:#aac1b5;
}
.find::before{
	content:"";
	position: absolute;
	left:10px;
	bottom:10px;
	width: 23px;
	height:23px;
	background:url("../img/result.png") no-repeat 0px -420px;

}
.enter::before{
	content:"";
	position: absolute;
	left: 14px;
	bottom:5px;
	width: 21px;
	height:21px;
	background:url("../img/result.png") no-repeat 0px -455px;

}
.enter:hover::before{
	content:"";
	position: absolute;
	left: 14px;
	bottom:5px;
	width: 21px;
	height:21px;
	
	background:url("../img/enter-hover.png") no-repeat 0 0;

}
.enter:hover{
	background:#f8f7f4;
}
.enter:hover a{
	color: #323232;
}
.cart::before{
	content:"";
	position: absolute;
	left: 14px;
	bottom:5px;
	width: 21px;
	height:21px;
	background:url("../img/result.png") no-repeat 0px -484px;

}
.products::before{
	content:"";
	position: absolute;
	left: 14px;
	bottom:5px;
	width: 21px;
	height:21px;
	background:url("../img/cart-red.png") no-repeat 0 0;
}
.search-bg{
	display:none;
	position: absolute;
	top:5px;
	right: 0px;
	width: 312px;
	height: 43px;
	border-radius: 3px;
	padding: 21px 14px;
	background: #F8F7F4;
}
	
	
.find:hover .search-bg{
	display:block;
}


.search-bg input{
	width: 293px;
	height: 26px;
	
	padding: 6px 7px;
	border: 1px solid #d3d3d2;
	border-radius:5px;
	color:#999;
	background-color:#fff;
}
.search-bg input[value]{
	font-size: 14px;
    color:#999;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}

#search{
	display:block ;
    position: absolute;
    left: -5px;
    width: 80px;
    width: 308px;
	height: 40px;
	border: 1px solid #d3d3d2;
	border-radius:3px;
	
	background-color:#fff;
    margin: 0;
    padding: 10px;
    background: #fcf8e3;
    font-size: 14px;
    color:#999;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
/*-----enter block begin------------*/
.enter-block{
	display:none;
	position: absolute;
	top: 5px;
	right: 0px;
	width: 250px;
	height: 175px;
	border-radius:3px;
	padding: 18px 14px;
	background: #F8F7F4;
	z-index:100;
}
.enter:hover .enter-block{
	display:block;
}
.enter-block:hover #enter{
	display:block;
}
#address, #password{
	width: 210px;
	height: 28px;
	margin-bottom: 20px;
	padding: 6px 19px;
	border: 1px solid #d3d3d2;
	border-radius:3px;
	color:#999;
	background-color:#fff;
}
.enter-block input[value]{
	font-size: 14px;
    color:#999;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
.btn-enter{
	position: absolute;
	top: 148px;
	left: 19px;
	padding: 8px 25px 10px 25px;
	
	color: #FFF !important;
	font-size: 18px;
	line-height:24px;
}

.enter-block ul{
	position: absolute;
	right: 20px;
	list-style:none;
}
.enter-block li a{
	
	font-size: 13px;
	line-height: 24px;
	color: #7a7a78;
}

.enter-block li a:hover{
	font-size: 13px;
	line-height:24px ;
	color: #e84d37;
	
	font-family: Roboto, sans-serif;
	background-color: #fff;
}
.enter-block li a:active{
	font-size: 13px;
	line-height:24px;
	color: #e84d37;
	font-family: Roboto, sans-serif;
	background-color: #fff;
	
}    


.enter:hover #enter{
	display: block;
}
/*-----enter block end------------*/
/*-----cart-submenu begin-----*/
.cart-submenu-hover{
	display:none;
    position: absolute;
    top:5px;
    right: 0px;
    width: 511px;
    height: 204px;
   	border-radius:3px;
	padding: 18px 14px;
	background: #F8F7F4;
	
	z-index:100;
}
.products:hover .wrapper-cart{
	display: block;
}
.products:hover .cart-submenu-hover{
	display: block;
}
.products:hover{
	background:#f7f6f3;
}
.products:hover a{
	color: #313131;
}
.cart-submenu-hover:hover .cart-submenu-table{
	display: block;
}
.cart-submenu-table{
	display: table;
	width: 508px;
	border-bottom:1px solid #cacac7;
}
.cart-row{
	display: table-row;

}
.cart-row li{
	 display: table-cell;
	 text-align: left;
    vertical-align: middle;
    padding: 5px;
}
.cart-row li p{
	font-size: 13px;
	line-height:16px;
    color: #323232;
	
	font-family: Roboto, sans-serif;
}
.cart-row span{
	color: #c2c2c1;
}
.cart-submenu-hover>p{
	float: right;
	font-size: 13px;
	line-height:16px;
    color: #323232;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.btn-right{
	position: absolute;
	top: 180px;
	left: 335px;
}
}

	
/*-----cart-submenu end-----*/
/*----header-right end------------------*/
.time-phone{
	
	position: relative;
	top:45px;
	right: 0px;
}
.time-phone p{
	margin-bottom: 5px;
	font-size: 14px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;

}
.time-phone span{

	font-size: 22px;
	line-height:24px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;

}


/*-------------hedear end--------------*/
/*------slider begin----------------*/
.slider{
	position: relative;
	text-align:center;
	padding-top: 383px;
	color: #FFF;
}
.slide-title{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 60px;
}
.slide-btn{
	display: inline-block;
	padding: 17px 41px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	
}

.slider-controls{
	position: absolute;
  	bottom: 25px;
  	left: 0;
  	z-index: 20;

  	font-size: 0;
}
.slider-controls label{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	
	vertical-align: top;
	
	background-color:transparent;
	border:2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.slide{
	display:none;
	margin-bottom: 35px;
}
#btn-1:checked~ .site-wrapper #slide1,
#btn-2:checked~ .site-wrapper #slide2,
#btn-3:checked~ .site-wrapper #slide3{
	display:block;
}
#btn-1:checked~ .site-wrapper label[for="btn-1"],
#btn-2:checked~ .site-wrapper label[for="btn-2"],
#btn-3:checked~ .site-wrapper label[for="btn-3"]{
	background-color: #FFF;
}
#btn-1:checked~ .site-wrapper {
	background-color:#849d8f;
	background-image:url("../img/slide3.png");
}
#btn-2:checked~ .site-wrapper {
	background-color:#8996a6;
	background-image:url("../img/slide2.png");
}
#btn-3:checked~ .site-wrapper {
	background-color:#9d8b84;
	background-image:url("../img/slide1.png");
}
.slider-controls .btn-1:hover {

	background-color: #b2c1b7;
}
.slider-controls .btn-2:hover {

	background-color: #b2c1b7;
}
.slider-controls .btn-3:hover {

	background-color: #b2c1b7;
}
/*----slider end------------*/

/*--визитки начало*/
.cream, .news{
	margin-bottom: 10px;
}
.gift{
	padding: 15px 23px;
	border-radius:20px;
	text-align: left;
}
.raspberry, .serving{
	float: left;
	width: 43.5%;
	
}
.chocolate {
	float: right;
	width: 43.5%;
	
}
.raspberry{
	background-image: url("../img/raspberry.png");
	background-repeat:no-repeat;
}
.chocolate{
	padding-bottom: 35px;
	background-image: url("../img/chocolate-bg.png");
	background-repeat:no-repeat;
}
.raspberry p, .chocolate p{
	margin: 18px 0px 22px 0px;
	font-size: 18px;
	line-height:22px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.raspberry a{
	
	position: relative;
	left: 215px;
	
	padding: 8px 18px 10px 20px;
	margin-bottom: 10px;
	
	font-size: 18px;
	line-height:24px;
}
.chocolate a{
	display: inline-block;
	position: relative;
	left: 191px;
	padding: 8px 18px 10px 20px;
	font-size: 18px;
	line-height:24px;
}
	
	
	
	

/*---------news begin--------*/
.serving{
	padding-bottom: 85px;
	background-image: url("../img/news.jpg");
	background-repeat:no-repeat;
}
.subscribe{
	float: right;
	width: 48%;
	padding: 3px !important;
	background-image: url("../img/news-2bg.png");
	background-repeat:no-repeat;
}
.serving p{
	margin: 0px;
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 16px;
	line-height:22px ;
	font-family: Roboto, sans-serif;
}
.serving a{
	font-size: 24px;
	line-height:30px ;
	color: #353535;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	background-color: #FEFBFC;
	opacity:0.8;
}
.serving a:hover{
	font-size: 24px;
	line-height:30px ;
	color: #e84d37;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	background-color: #fff;
}
.serving a:active{
	font-size: 24px;
	line-height:30px ;
	color: #e84d37;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	background-color: #fff;
}    
.subscribe-bg{
	
	position: relative;
	padding: 25px 20px 35px 20px;
	border-radius:20px;
	background-color:#f8f7f4;
	text-align: left;
	
}
.subscribe p{
	padding-top: 5px;
	padding-bottom:13px;
	margin: 0px;
	font-size: 16px;
	line-height:22px ;
	color: #353535;
	font-weight: normal;
	font-family: Roboto, sans-serif;
		
}
.subscribe-btn{
	position: absolute;
	top: 132px;
	left: 269px;
	padding: 8px 15px 10px 15px;
	border: 0px;
	
	font-size: 18px;
	line-height:24px;
}
.subscribe-bg input[type="email"]{
	width: 228px;
	height: 42px;
	border: 1px solid #d3d3d2;
	border-radius:3px;
	background: #FFF;
	padding-left: 10px;
	
	font-size: 16px;
	line-height:24px ;
	color: #b8b8b8;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
/*-------news end-----------*/
/*--визитки конец*/	
/*---------rang begin-------*/
.range{

	margin-bottom: 35px;
}
.ice-creamy{
	display:inline-block;
	vertical-align: top;
	width: 22.9%;
	position:relative;
	text-align: center;
	
	font-size: 0;
	margin-top: 35px;
	margin-right: 2.2%;
	
}
.ice-creamy:last-child {
	margin-right: 0;
}
.ice-creamy p{
	position: absolute;
	left:5px;
	top:140px;
	margin: 0px;
	font-size: 45px;
	line-height:45px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.ice-creamy img{
	width: 200px;
	height: 200px;
}
.hit-1{
	position: absolute;
	left:0px;
	width: 61px;
	height:61px;
	border: 1px solid #fff;
    border-radius:50px;
    background-image: url("../img/hit.png");
}
.ice-creamy a{
	
  	font-size: 16px;
	line-height:22px;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }
  .ice-creamy a:hover{
  	font-size: 16px;
	line-height:22px;
	color: #ffbc9e;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }
  .ice-creamy a:active{
  	font-size: 16px;
	line-height:22px;
	color: #ffbc9e;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }
  
    
 .hit::before{
  	content:"";
  	position: absolute;
	left:0px;
	width: 61px;
	height:61px;
	border: 1px solid #fff;
    border-radius:50px;
    background-image: url("../img/hit.png");
  }
/*---------rang end-----------*/
/*----info-shop begin--------------*/
.info-shop{
	margin: 0px;
	padding: 0;
	margin-bottom: 40px;
	padding: 23px 20px 0px 20px;
	border-radius:20px;
	background-image: url("../img/info-bg.png");
}
.info{
	position: relative;
	display:inline-block;
	vertical-align: top;
	font-size: 0;
	width: 48.5%;
	
}	
	

.info-shop span{
	display: inline-block;
	padding: 0;
	letter-spacing:1px;
	word-spacing:1px;
	font-size: 24px;
	line-height:30px;
	color: #323232;
	font-family: Roboto, sans-serif;
}
.info p{
	margin: 0;
	padding: 0;
	
	padding-left: 55px;
	font-size: 16px;
	line-height:22px ;
}
.equipment::before{
	content:"";
	position: absolute;
	left: 2px;
	top: -10px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px 0px;

}

.purchase::before{
	content:"";
	position: absolute;
	top:-10px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -118px;
}
	
.ingredients::before{
	content:"";
	position: absolute;
	left: 2px;
	top: -8px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -59px;
}
.shipping::before{
	content:"";
	position: absolute;
	left: 20px;
	top: -8px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -177px;
}	
.purchase, .shipping{
	padding-left: 20px;
} 
.in-fo{

	padding-top: 20px;
}
.equipment, .purchase{
	margin-bottom: 20px;
}
.shipping, .ingredients{
	margin-bottom: 27px;
}

/*-------info-shop end-----------*/


/*---map begin--------------------*/
.adress-position{
	height: 430px;
}
.map{
	
	width: 100%;
	min-height: auto;
	margin-top: 40px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
}
.adress-position{
	position:relative;
	
}

.address{
	width: 280px;
	position:absolute;
	top:15%;
	right: 4%;
	padding-top: 30px;
	padding-left: 24px;
	background-color:#fff;
	border-radius:15px;
}
.address p{
	margin: 0px;
	font-size: 14px;
	line-height:20px ;
	color: #323232;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
.address p:nth-of-type(2){
	padding-bottom: 5px;
}
.address p:nth-of-type(3){
	padding-bottom: 25px;
}
.address span{
	display: inline-block;
	padding-bottom: 18px;
	font-size: 18px;
	line-height:24px ;
	color: #323232;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.address span:nth-of-type(2){
	padding-bottom: 3px;
	
}

.address a{
	display: inline-block;
	width: 210px;
	
	padding: 5px 17px 10px 32px;
	margin-bottom: 30px;
	
	font-size: 18px;
	line-height:24px;
	
}

/*--map end------------------------*/

/*--footer begin------------------------*/

/*--social-icon begin-----------------*/
.footer-main{
	margin-top: 10px;
	font-size: 0;
	
}
footer a{
	font-size: 13px;
	line-height:18px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.f-main{
	display:inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 22.5%;
}

.f-main a:hover{
  	font-size: 13px;
	line-height:18px;
	color: #ffbc9e;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }
  .f-main a:active{
  	font-size: 13px;
	line-height:18px;
	color: #ffbc9e;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }

.social{
	display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 8px;
    background: url(../img/result-social.png);
    vertical-align: middle;
}
.social:hover{
	border:3px solid #dae2de;
	
}
.social:active{
	border:3px solid #dae2de;
	box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-tw{
	border-radius:50%;
	border:3px solid #c2cec7;
	background:url("../img/result-social.png");
	background-position: 0px 0px;
}
.social-it{
	border-radius:50%;
	border:3px solid #c2cec7;
	background:url("../img/result-social.png");
	background-position: 0px -42px;
}
.social-fb{
	border-radius:50%;
	border:3px solid #c2cec7;
	background:url("../img/result-social.png");
	background-position: 0px -84px;
}
.social-vk{
	border-radius:50%;
	border:3px solid #c2cec7;
	background:url("../img/result-social.png");
	background-position: 0px -126px;
}


.info-footer-left{
	display: inline-block;
    width: 22.2%;
    margin-left: 65px;
    vertical-align: middle;
}
    
    
.f-main b{
	font-size: 20px;
	padding-right: 8px;
	position: relative;
	color: #FFF;
	top:3px;
}
.info-footer-left a:last-child{
	padding-left: 25px;
}
.info-footer-right{
	font-size: 0;
	padding-top: 6px;
	margin-left: -30px;
	margin-right: 37px;
}





.logo-academy{
	padding-top: 8px;
	width: 23%;
	text-align: left
}	
	
.logo-academy p{
	margin-top: 0;
	font-size: 12px;
	line-height:18px ;
	color: #fff;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
/*--social-icon end---------------------*/	
	
/*--footer end--------------------------*/




/*--catalog bigin---------*/
.site-wrapper-catalog{
	min-width: 900px;
	background-color: #849d8f;
}
body > input[type="radio"] {
  display: none;
}

.main{
	padding: 0;
	margin: 0;
}
/*--.breadcrumbs begin------------*/
.breadcrumbs{
	padding-top: 20px;
	margin-bottom: 4px;
	font-size: 0;
	
}
.breadcrumbs a{
	display: inline-block;
	vertical-align: top;
	
	 font-size: 14px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.breadcrumbs>a>span{
	padding-left: 7px;
	padding-right: 7px;
	text-decoration:none;
}
.breadcrumbs .active{
	text-decoration: none;
}
.breadcrumbs a:active{
	text-decoration: none;
}
/*--.breadcrumbs end----------------*/

/*--forms-catalog begin--------------*/

.forms-catalog{
	margin-top: 22px;
	
}
.forms-catalog p{
	margin: 0px;
}
.sorting{
	width: 192px;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
}
.price{
	
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	margin-right: 14px;
}
.main-fat{
	width: 400px;
	display: inline-block;
	vertical-align: top;
}
.main-fat p{
	padding: 0px 0 6px 13px;
	font-size: 14px;
	line-height:auto;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}	
	 






.name-btn p{
	display:inline-block;
}

/*-----------------*/

.main-fillers{
	width: 690px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	 
}
.price p, .sorting p, .main-fillers p{
	padding: 0px 0 6px 13px;
	font-size: 14px;
	line-height:auto;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}

.forms-catalog label{
	font-size: 16px;
	line-height:18px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.main-fat input[type="radio"]{
	display:inline-block;
	
}
.main-fat input:first-child{
	margin-left: 0px;
}
/*здесь посмотреть*/
.question-one {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.question-two{
	
}
.question-three{
	
}
.question-four{
	
}
/*здесь посмотреть конец*/
.main-fat label{

  display: inline-block;
  
  margin-right: 8px;

  vertical-align: top;

  
  cursor: pointer;

	margin:0 14px;
}
.main-fillers label{

    position: relative;
    cursor: pointer;

	margin: 0 12px 0 17px;
}


.main-form>.apply{
	position: relative;
	top:-10px;
	right: -20px;
	width: 145px;
	height: 35px;
	margin-top: 45px;
	border: 2px solid #fff;
	border-radius:50px;
	background: #9CB0A4;
	
	font-size: 16px;
	line-height:18px;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	
}
.main-fillers-bg label:last-child {
	
	margin-right: 0;
}
.apply:hover{
	border: 1px solid #fbfcfb;
	background: #fbfcfb;
	font-size: 16px;
	line-height:18px;
	color: #353535;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.apply:active{
	border:0px;
	background: #eaeaea;
	box-shadow: 0px -2px 1px 0px #888888;
	font-size: 16px;
	line-height:18px;
	color: #353535;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.sorting-bg{
	width: 172px;
	padding: 8px 10px;
	border-radius:50px;
	background-color:#a9b9af;
}
#sorting{

	background-color:#a9b9af;
	border:0px;
	font-size: 16px;
	line-height:18px;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.main-fat-bg{
	width: 400px;
	padding: 8px 10px;
	border-radius:50px;
	background-color:#a9b9af;
}
.main-fillers-bg{
	width: 664px;
	padding: 5px 18px;
	border-radius:50px;
	background-color:#a9b9af;
}

/*--forms-catalog end---------------*/


/*----rang-catalog---------*/
.ice-creamy:nth-child(4n){
	margin-right: 0;
}
.rang-hover a{
	
	position:absolute;
    bottom: -5px;
	left: 124px;
    width: 166px;
   
    transform: translateX(-58%) translateY(-50%);
   
	
	padding: 12px;
}	
.rang-hover{
	display:none;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 220px;
	height: 361px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 10;
	

}	
	
	


.ice-creamy:hover .rang-hover{
	display:block;
	
	
}
.ice-creamy:hover .rang-hover a{
	display:block;
}

/*----rang-catalog end*/


/*--paginator begin*/
.paginator{
	text-align: right;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #a9bbb1;
}
.paginator>ul{
	margin: 0;
	padding: 0;
	
}
.paginator>ul>li{
	display: inline-block;
    min-width:20px;
    height: 40px;
  	
    vertical-align: middle;
}    
    

.paginator>ul>li>a{

     padding: 5px 10px;
    
    line-height: 40px;
    text-align: center;
	font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.paginator>ul>li .prev{
	color: #9db1a5;
}
.paginator a:visited{
	
}
.paginator a:hover{
	color: #FFF;
	border-radius:50px;
	background-color:#95a5a6;
}
.paginator a:active{
	color: #323232;
	border-radius:50px;
	background-color:#fff;
		
	
}
.paginator .active{
	color: #323232;
	border-radius:50px;
	background-color:#fff;
}

/*--paginator end--------------*/
/*--catalog end-----------*/
	

.range-filter {
  width: 218px;
  
}
.range-controls {
	position: relative;
	height: 19px;
	
	padding-top: 17px;
	padding-right: 14px;
	padding-left: 14px;

  border-radius: 50px;
  background: #9db1a5;
}	
.range-controls .scale {
  height: 2px;
  background: #cbd4cd;
}	
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #fff;
}	
.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow:0 2px 1px 0 #91a499;
}
.range-controls .toggle-min {
  left: 30px;
}

.range-controls .toggle-max {
  left: 170px;
  
}
.price-controls label {
  display: inline-block;
 
    font-size: 14px;

}
.price-controls {
  font-size: 0;
  margin-bottom: 5px;
  margin-left: 13px;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
    width: 40px;
  
	  border: none;
  

  text-align: center;
  color: #fff;
  background-color:#849d8f;
}
.max-price {
  text-align: right;
}

