body{
	font-size: 18px;
	line-height: 1.2;
	color: #323232;
	font-weight: normal;
	font-family: Roboto, sans-serif;
	background-color: #849d8f;
	margin: 0px;
	padding: 0px;
}
body input[type="radio"]{
	display:none;
}
.side-wrapper{
	max-width: 900px;
	background-color: #849d8f;
	background-image: url("../img/creamy-slide.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.clearfix::after{
	content:"";
	display: table;
	clear:both;
}
*{
	outline: 1px dashed red;
}
img{
	padding: 0px;
	margin: 0px;
}
ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
h1{
	font-size: 35px;
	line-height: ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
h2{
	font-size: 60px;
	line-height:60px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
h3{
	margin: 0px;
	padding: 0px;
	font-size: 35px;
	line-height:41px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}



.container {
    width: 860px;
    margin: 0px auto;
    padding: 0px 20px;
    position:relative;
    }
/*---header begin---------------------------*/
.logo{
	float: left;
	margin: 8px 0px 0px -8px;
}
/*---main-menu begin--------------*/


.main-menu{
	width: 420px;
	float: left;
	margin-left: 20px;
	font-size: 0px;
}
.main-menu>li{
	position: relative;
	display: inline-block;
	margin:23px 4px 18px 0px;
}
.main-menu>li>a {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}    
.main-menu>li:hover a {
	color: #333333;
	text-decoration: none;
	border-radius: 50px;
    background:#fff;
}



	


.sub-menu {
	display: none;
    position: absolute;
    top:35px;
    left: -10px;
    width:105px;
    padding: 0px 20px;
    
    background: #fff;
	border-radius: 5px;
	z-index:1000;
}    
.sub-menu li{

}     

.sub-menu a{
	font-size: 14px;
	color: #333333;
	line-height: 2.4;
	
	margin-top:5px;
} 
.sub-menu li:first-child{
	border-bottom: 1px solid #d1d0ce;
}
.sub-menu li:last-child{
	
	padding-bottom: 5px;
}
.main-menu>li:hover .sub-menu{
	display: block;
	
}

/*---main-menu end------------*/


/*---header-right begin--------------*/
.header-right{
	width: 250px;
	float: right;
	
}
.block-right{
	margin: 0;
    padding: 0px 12px;
    list-style: none;
    
}
.block-right>li{
	
	position: relative;
	display: inline-block;
}

#search{
	display: none;
    position: absolute;
    left: -5px;
    width: 80px;
    margin: 0;
    padding: 10px;
    background: #fcf8e3;
}
.find:hover #search{
	display: block;
}
#enter{
	display: none;
    position: absolute;
    left: -5px;
    width: 80px;
    margin: 0;
    padding: 10px;
    background: #fcf8e3;
}
.enter:hover #enter{
	display: block;
}
.cart-submenu{
	display: none;
    position: absolute;
    left: -5px;
    width: 80px;
    margin: 0;
    padding: 10px;
    background: #fcf8e3;
}
.cart:hover .cart-submenu{
	display: block;
}
/*----header-right end-----------------*/
.time-phone{
	
	position: absolute;
	top:65px;
	right: 10px;
}
.time{
	margin: 0px;
}

/*------header end------------------*/

/*-------slaider begin--------------*/
.slide {
	position: relative;
	text-align:center;
	padding-top: 270px;
	color: #FFF;
}
.slide-title{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 60px;
}
.slide-btn{
	display: inline-block;
	padding: 17px 50px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #FFF;
	text-decoration: none;
	text-shadow:0px 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom #f26843 0%, #e74a35 100%);
	border-radius:100px;
	-webkit-box-shadow: 0.2px 2px rgba(172, 16, 0, 0.64);
	        box-shadow: 0.2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover{
	background: -moz-linear-gradient(top,#f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top,#f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom,#f58669 0%, #ec6f5e 100%);
	box-shadow:0 2px 2px rgda(172, 16, 0, 1);
}
.slide-btn:active{
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow:0 2px 2px rgda(172, 16, 0, 1);
	
}
.slider-controls label{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	
	vertical-align: top;
	
	background-color:transparent;
	border:2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls{
	position: absolute;
	bottom:25px;
	left: 0;
	z-index:20;
	font-size: o;
}
.slider{
	display:none;
}
#btn-1:checked~ .site-wrapper #slide1,
#btn-2:checked~ .site-wrapper #slide2,
#btn-3:checked~ .site-wrapper #slide3{
	display:block;
}

#btn-1:checked~ .site-wrapper label[for="btn-1"],
#btn-2:checked~ .site-wrapper label[for="btn-2"],
#btn-3:checked~ .site-wrapper label[for="btn-3"]{
	background-color: #FFF;
}
/*---------
.slider input[type=radio] {
    display: none;
}
.slider-slides{
	width: 300%;
}
.slider-inner{
	
	overflow: hidden;
}

.slider-slides img{
	
	float: left;
}
.slider-controls {
	position: absolute;
	top:485px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}
.slider-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border:2px solid #fff;
    border-radius: 50%;
    
    margin-right: 6px;
    cursor: pointer;
    background-color: #8ca698;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
 #btn-2:checked ~ .slider-controls label[for="btn-2"],
 #btn-3:checked ~ .slider-controls label[for="btn-3"]{ 
    background-color: #FFF;
}
/*-------------------------то, что ниже не срабатывает-*/
#btn-1:checked ~ .slider-inner .slider-slides{
    -webkit-transform: translate(0px);
       -moz-transform: translate(0px);
        -ms-transform: translate(0px);
         -o-transform: translate(0px);
            transform: translate(0px);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    -webkit-transform: translate(100px);
       -moz-transform: translate(100px);
        -ms-transform: translate(100px);
         -o-transform: translate(100px);
            transform: translate(100px)
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-900px);
}
/*---------------------------*/
.slider h2{
	position: absolute;
	top: 310px;
	left: 115px;
	letter-spacing:-2px;
	margin: 0px;
	padding: 0px;
}
.btn-both{
	position: absolute;
	top:470px;
	left:310px;
	
	border: 1px solid #f26843;
	border-radius:50px;
	padding: 4px 35px;
	background:#ed5a3d; 
	box-shadow: 2px 0px 5px #a0200b;       
}
.btn-both a{
	font-size: 32px;
	line-height:44px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}


*/
/*-------slaider end----------------*/

/*--------gift begin-----------------------*/
.cream{
	position:relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 42px;
}

.raspberry, .chocolate {
	
	float: left;
}
.raspberry{
	background-image: url("../img/raspberry.png");

}
.chocolate{
	background-image: url("/C:/Users/Zaval/Desktop/Обучение верстка/69742-gllacy/img/chocolate-bg.png");

}
.raspberry p, .chocolate p{
	margin: 18px 0px 22px 0px;
	font-size: 18px;
	line-height:22px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.chocolate p{
	margin-bottom: 0px;
}
.gift{
	width: 386px;
	margin: 0px;
	padding: 15px;
	border: 1px solid red;
	border-radius:20px;
	text-align: left;
}
.cream .gift:first-child{
	margin-right: 23px;
}
.raspberry a{
	display: inline-block;
	position: relative;
	left: 215px;
	
	border: 1px solid #f26843;
	border-radius:50px;
	padding: 8px 18px 10px 20px;
	margin-bottom: 10px;
	background:#ed5a3d; 
	box-shadow: 2px 0px 5px #a0200b; 

	font-size: 18px;
	line-height:24px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.chocolate a{
	display: inline-block;
	position: relative;
	left: 191px;
	
	border: 1px solid #f26843;
	border-radius:50px;
	padding: 8px 18px 10px 20px;
	margin-bottom: 10px;
	background:#ed5a3d; 
	box-shadow: 2px 0px 5px #a0200b; 

	font-size: 18px;
	line-height:24px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}

/*---------gift end-------------------------------*/


/*---range begin------*/
.range{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}
.ice-creamy{
	float: left;
	position: relative;
	width: 214px;
	text-align: center;
}
.hit-1{
	position: absolute;
	left:0px;
	width: 61px;
	height:61px;
	 border: 1px solid #fff;
    border-radius:50px;
    background-image: url("../img/hit.png");
}
.ice-creamy p{
	position: absolute;
	left:5px;
	top:140px;
	margin: 0px;
	font-size: 45px;
	line-height:45px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.ice-creamy a{
  	font-size: 16px;
	line-height:22px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
  }

/*---range end--------*/
/*---info-shop begin----------*/
.info-shop{
	margin: 0px 20px 40px;
	padding-left: 20px;
	border-radius:20px;
	background-image: url("../img/info-bg.png");
}
.info{
	position: relative;
	float: left;
	
	width: 370px;
	margin-left: 50px;
}
.info-shop span{
	display: inline-block;
	padding: 23px 0px 20px;
	letter-spacing:1px;
	word-spacing:1px;
	font-size: 24px;
	line-height:30px;
	color: #323232;
	font-family: Roboto, sans-serif;
}
.info p{

	margin: 0px;
	margin-bottom: 48px;
	padding-left: 5px;
}		
	
.icon-equipment{
	position: absolute;
	left: -48px;
	top: -13px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px 0px;

}	
.icon-purchase{
	position: absolute;
	left: -48px;
	top: -13px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -118px;
}
.icon-ingredients{
	position: absolute;
	left: -48px;
	top: -13px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -59px;
}

.icon-shipping{
	position: absolute;
	left: -48px;
	top: -13px;
	width: 49px;
	height:49px;
	background:url("../img/result.png") no-repeat 0px -177px;
}

/*----info-shop end---------------*/
    



	
	







.news{
	clear: both;
	margin-bottom: 40px;
}
.serving{
	float: left;
	padding-bottom: 80px;
	background-image: url("../img/news.jpg");
	background-repeat:no-repeat;

}

.serving p{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 3px;
	font-size: 16px;
	line-height:22px ;
	font-family: Roboto, sans-serif;
}
	
	
.serving a{
	font-size: 24px;
	line-height:30px ;
	color: #353535;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	background-color: #FEFBFC;
	opacity:0.8;
}  
.subscribe{
	float: left;
	margin-left: 23px;
	background-image: url("../img/news-2bg.png");
	background-repeat: no-repeat;
	padding:3px !important; 
	
}

 .subscribe-bg{
	width: auto;
	position: relative;
	padding: 25px 0px 27px 20px;
	border: 1px solid red;
	border-radius:20px;
	background-color:#fff;
	text-align: left;
}	
.subscribe p{
	padding-top: 5px;
	padding-bottom:13px;
	margin: 0px;
	font-size: 16px;
	line-height:22px ;
	color: #353535;
	font-weight: normal;
	font-family: Roboto, sans-serif;
		
}
.subscribe form{
	margin-bottom: 30px;
}
.btnform{
	position: absolute;
	top: 132px;
	left: 260px;
	
	border: 1px solid #f26843;
	border-radius:50px;
	padding: 4px 10px 10px 15px;
	margin-right: 25px;
	background:#ed5a3d; 
	box-shadow: 2px 0px 5px #a0200b;
	font-size: 18px;
	line-height:24px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif; 
}
.btnform a{

}	
	
	




/*----map begin------------------------------*/
.map{
	position: relative;
	width: 100%;
	min-height: 430px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position:-70px 0px;
	
}
.icon-map{
	width: 100%;
	min-height: 430px;
	background-image: url("../img/creamy-map.png");
	background-repeat: no-repeat;
	background-position: 190px 140px;
}
.address{
	width: 280px;
	position:absolute;
	top:60px;
	left: 577px;
	padding-top: 30px;
	padding-left: 24px;
	background-color:#fff;
	border-radius:15px;
}
.address p{
	margin: 0px;
	font-size: 14px;
	line-height:20px ;
	color: #323232;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
.address p:nth-of-type(2){
	padding-bottom: 5px;
}
.address p:nth-of-type(3){
	padding-bottom: 25px;
}
.address span{
	display: inline-block;
	padding-bottom: 18px;
	font-size: 18px;
	line-height:24px ;
	color: #323232;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.address span:nth-of-type(2){
	padding-bottom: 3px;
	
}

.address a{
	display: inline-block;
	width: 210px;
	border: 1px solid #f26843;
	border-radius:50px;
	padding: 5px 17px 10px 32px;
	margin-bottom: 30px;
	background:#ed5a3d; 
	box-shadow: 2px 0px 5px #a0200b; 

	font-size: 18px;
	line-height:24px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
/*------map end-----------------------------*/
/*-----forms-catalog begin-------------------*/
.forms-catalog p{
	margin: 0px;
}
.sorting{
	width: 210px;
	display: inline-block;
	border: 1px solid #e5e5e5;
}
.sorting p{
	margin: 0px;
}
.price{
	width: 240px;
	display: inline-block;
	 border: 1px solid #e5e5e5;
}
.price p{
	margin: 0px;
}
.main-fat{
	width: 420px;
	display: inline-block;
	margin-bottom: 10px;
	 border: 1px solid #e5e5e5;
}
.main-fat{
	
}
.main-fillers{
	width: 720px;
	display: inline-block;
	 border: 1px solid #e5e5e5;
}
.btn{
	 border: 1px solid red;
}
	
	

/*-----forms-catalog end--------------------*/

/*-----sorting_all begin-------------------*/
.view-hover{
	display: none;
}

:hover .view-hover{
	display: block;
	background:#fff;
}


/*-----sorting_all end--------------------------------------------------*/
/*----paginator begin-----------------------------------------------------*/
.paginator{
	width: 190px;
	float: right;
	padding: ;
	margin:20px ;
	font:18px Roboto, sans-serif;	
}   
.paginator ul{
	
}
.paginator ul li{
	float: left;
	width: 25px;
	height: 25px;
	padding-bottom: 3px;
    padding-right: 2px;
	margin-right: 0px;
}	
 .paginator ul li>a{
	padding: 3px 10px;
	color: #fff;
	text-decoration: none;   
}
.paginator ul li:hover a{
	color: #323232;
	background:#fff;
	border-radius: 50% 50%;
}
/*----paginator end-------------------------------------------------------*/



/*----footer begin--------------------------------------------------*/
footer a{
	font-size: 13px;
	line-height:18px ;
	color: #fff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.so-cial{
	width: 220px;
	margin: 0px 18px;
	padding-right: 50px;
	float: left;
	border: 1px solid red;
}
.so-cial>ul>li{
	display: inline-block;
}
.social{
	width: 40px;
	height: 40px;
	margin-right: 10px;
    vertical-align: top;
    display: inline-block;
    background:url("../img/result.png");
}
.social-tw{
	background:url("../img/result.png");
	background-position: 0px -236px;
}
.social-it{
	background:url("../img/result.png");
	background-position: 0px -284px;
}
.social-fb{
	background:url("../img/result.png");
	background-position: 0px -332px;
}
.social-vk{
	background:url("../img/result.png");
	background-position: 0px -380px;
}
.info-footer{
	float: left;
	border: 1px solid red;
	padding: 0px;
}	
.info-1{
	float: left;
	padding-right: 30px;
}	
.info-1 b{
	font-size: 20px;
	padding-right: 10px;
	position: relative;
	color: #FFF;
	top:3px;
}
.under-heart{
	padding-left: 25px;
}
.info-2{
	float: right;
	padding-top: 6px;
}	
.logo-academy{
	float: right;
	border: 1px solid red;
	font-size: 12px;
	line-height:18px ;
	color: #fff;
	font-weight: normal;
	font-family: Roboto, sans-serif;
}
footer>ul>li:hover a{
	font-weight: bold; ??????????????????????????
}
/*----footer end-----------------------------------*/











